.css-1kegbnq>p:first-child{
    font-size: 1.2vw!important;
    font-family: inherit!important;
}
.css-1kegbnq>p:nth-child(2){
    font-size: 0.9vw!important;
    font-family: inherit!important;
}