.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
}
.hottest-title{
    margin-top: 15px;
    font-size:30px;
    font-weight:800;
    color:white;
    font-style:oblique;
}
.hottest-content >h1{
    color:white;
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
}
.hottest-content >p{
    color:white;
    font-size: x-small;
}
.mask{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6rem;
    bottom: 0px;
    width: 97%;
    height: 44.5%;
    overflow: hidden;
    background-attachment: fixed;
    border-radius: 10px;
}
.card-img{
    max-width: 100%;
    border-radius: 1rem;
}
.bg-image{

}
