.prof-img{
    background-position: center;
}
.css-et1ao3-MuiTypography-root{
    font-size: 1.2vw!important;
}
.css-umh92v-MuiTypography-root{
    font-size: 0.9vw!important;
}
.css-1t5u97m-MuiPaper-root-MuiCard-root{
    background-color: #e8f2f5!important;
    border-color: #a1acaf !important;
}