.cardheader{
    /* padding:100px; */
    margin-top: 100px;
    margin-left: 230px; 
    color: white;
    text-decoration-color: white;
    
}

  .sidebarIcon{
    margin-left: 20%;; 
    background-color: var(rgb(242, 197, 61))!important;
    /* border: none !important; */

    color: white !important; 
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 3px !important;
    height: 50px !important;
    margin-top: 20px !important; 

    
  }
  #upload-card{
    height: 20vw;
    background-image:"https://get.wallhere.com/photo/cloud-sky-mountain-atmosphere-plant-building-tree-nature-azure-Natural-landscape-snow-dusk-Freezing-atmospheric-phenomenon-horizon-mountainous-landforms-landscape-mountain-range-hill-castle-calm-winter-city-mist-fog-house-evening-Massif-reflection-haze-hill-station-steeple-fell-dawn-spire-conifer-sunrise-church-frost-place-of-worship-painting-night-skyline-summit-tourist-attraction-fir-Tourism-afterglow-chapel-pine-family-Alps-2078065.jpg" ;
  }
.color{
  color:white;
}
.MuiFormLabel-root.Mui-focused {
  color: #f3f3f3 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f3f3f3 !important;
}
.css-83ijpv-MuiTypography-root{
  
  color: rgba(255, 255, 255, 0.6) !important;
  
}
.css-rk45q6{
  align-items: center!important;
}
#text{
  color: #6f6f6f;
}

.css-180lf2n-MuiButtonBase-root-MuiButton-root{
  border: 1px solid rgba(90, 115, 156, 0.5)!important;
  color: #5a739c!important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #5a739c!important;
}
