/* .trend {
    float: left;
    width: 20%;
    height: 100%;
    display:flex;
    flex:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
  }

  .right {
    margin-left: 20%;
    float: right; 
     height: 100%;
    width: 80%;
    
  }  */