.sidebarOption{
    
    align-items: center;
    cursor:pointer; /*鼠标点击的时候是pointer*/
  
  }
  .sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color:rgb(242, 197, 61);
    transition: color 100ms ease-out;
  }
  /*鼠标点击的时候的背景颜色*/
  
 
  .sidebarOption--active{
    color:rgb(242, 197, 61);
  }
  /*点到哪页，哪页就是active的，对应的那一页就是蓝色的*/