.topbarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topbarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--option-color);
    transition: color 100ms ease-out;
}

.topbarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.topbarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.topbarOption--active {
    color: var(--option-color);
}
